
@font-face {
  font-family: 'lato';
  src: url('../fonts/lato-regular-webfont.ttf') format('truetype'),
       url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: rgb(234, 234, 233);
  font-family: 'lato';
  line-height: 1;
  box-sizing: border-box;
  color: #333;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.65);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.25);
}