<captured-colors>

  <h2 if={ items.length }>Captured Colors</h2>

  <div class="colors-container">
    <div 
      each={ items } 
      class="colors-container--color"
      style="background-color: { color.hex }"
    >
      <div class="delete" onclick="{ remove }">❌</div>
      <div class="value">
        <span class="hex { model == 'hex' ? 'active' : '' }">
          { color.hex }
        </span>
        <span class="rgb { model == 'rgb' ? 'active' : '' }">
          { color.rgb.r }, { color.rgb.g }, { color.rgb.b }
        </span>
        <span class="hsl { model == 'hsl' ? 'active' : '' }">
          { (color.hsl.h).toFixed(2).replace(/\.00$/, '') },
          { (color.hsl.s * 100).toFixed(2).replace(/\.00$/, '') }%, 
          { (color.hsl.l * 100).toFixed(2).replace(/\.00$/, '') }%
        </span>
      </div>
    </div>
  </div>


  <script>
    this.items = opts.items;

    this.on('update', function() {
      this.model = opts.model;
    });

    remove( event ) {
      var item = event.item;
      var index = this.items.indexOf( item );
      this.items.splice( index, 1 );
    }
  </script>

  <style>
    captured-colors .colors-container { 
      margin: 0;
      padding: 0;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }

    captured-colors .colors-container--color {
      margin-right: 3px;
      margin-left: 3px;
      position: relative;
      width: 80px;
      height: 60px;
      display: inline-block;
      margin-top: 10px;
      box-shadow: 0px 3px 3px rgba( 0, 0, 0, .05 );
      overflow: hidden;
      transition: all .2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
      border-radius: 1px;
    }

    captured-colors .colors-container--color:hover {
      opacity: 0.95;
    }

    captured-colors .value {
      width: 100%;
      position: absolute;
      bottom: 0;
      transition: all .1s cubic-bezier(0.68, -0.55, 0.27, 1.55) .2s;
      text-align: center;
      color: #77858c;
      text-transform: uppercase;
      font-size: 11.5px;
      display: block;
      padding: 5px 0;
      background-color: #FFF;
    }
    captured-colors .colors-container--color:hover .values {
      bottom: -11px;
    }

    captured-colors .value span {
      display: none;
    }

    captured-colors .value .active {
      display: block;
    }

    captured-colors .delete {
      cursor: pointer;
      background-color: #EAEAE9;
      padding: 5px 7px 3px 2px;
      border-radius: 2px;
      transition: all .15s cubic-bezier(0.68, -0.55, 0.27, 1.55);
      top: -30px;
      position: absolute;
      right: -3px;
      box-shadow: inset 1px -1px 3px rgba( 0, 0, 0, .05 );
    }
    captured-colors .colors-container--color:hover .delete {
      top: -3px;
    }

  </style>

</captured-colors>