<colorcatcher>

  <current-color color="{ color }"></current-color>
  
  <captured-colors items="{ colorHistory }"></captured-colors>

  <guide></guide>

  <script>
    let thisApp = this;
    let currentColor;
    let refresh;
    const timeout = 120;
    const debugging = false;

    this.color = "";
    this.colorHistory = [];

    if ( debugging ) {
      for ( let i = 0; i < 10; i++ ) {
        let generatedColor = colorStore.getColor( [ "#", i, i, i, i, i, i ].join("") );
        this.colorHistory.push( {
          color: generatedColor
        } );  
      }
      
    } else {
      refresh = setInterval( getColor, timeout );
    }


    document.onkeydown = handleKeyDown;

    function handleKeyDown( event ) {
      if ( !debugging ) {
        event.preventDefault();
      }

      var keyCode = event.which || event.keyCode;

      // SPACE
      if ( keyCode === 32 ) {
        getColor();
        addColorHistory();
        return;
      }

      // ESC - stop it
      if ( keyCode === 27 ) {
        clearInterval( refresh );
        refresh = null;
        return;
      }

      // LEFT ARROW
      if ( keyCode === 37 ) {
        peripheralStore.moveCursor( -1, 0 );
        return;
      }
      // UP
      if ( keyCode === 38 ) {
        peripheralStore.moveCursor( 0, -1 );
        return;
      }
      // RIGHT
      if ( keyCode === 39 ) {
        peripheralStore.moveCursor( 1, 0 );
        return;
      }
      // DOWN ARROW
      if ( keyCode === 40 ) {
        peripheralStore.moveCursor( 0, 1 );
        return;
      }    
    }

    function getColor() { 
        thisApp.color = colorStore.getColor();
        // colorReadable: colorStore.getReadableColor( thisApp.color ).toHexString()
        thisApp.update();
    }

    function addColorHistory() {
      var id = thisApp.colorHistory.length + 1;
      var found = thisApp.colorHistory.some(function( el ) {
        return el.color.toHexString() === thisApp.color.toHexString();
      });
      if ( found ) return;

      thisApp.colorHistory.push({
        id: id,
        color: thisApp.color
      });

    }

  </script>

</colorcatcher>