<current-color>

  <h2>Current Color</h2>

  <div class="current-color">
    <span class="hex { model == 'hex' ? 'active' : '' }">
      { color.hex }
    </span>
    <span class="rgb { model == 'rgb' ? 'active' : '' }">
      { color.rgb.r }, { color.rgb.g }, { color.rgb.b }
    </span>
    <span class="hsl { model == 'hsl' ? 'active' : '' }">
      { (color.hsl.h).toFixed(2).replace(/\.00$/, '') },
      { (color.hsl.s * 100).toFixed(2).replace(/\.00$/, '') }%, 
      { (color.hsl.l * 100).toFixed(2).replace(/\.00$/, '') }%
    </span>
  </div>
  
  <div 
    class="current-color--square"
    style="border-color: { color.hex }; background-color: { color.hex };"
  ></div>

  <script>
    this.on('update', function() {
      this.color = opts.color;
      this.model = opts.model;
    });
  </script>

  <style>
  current-color {
    position: relative;
  }

    .current-color {
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      color: #333;
      top: 78px;
      position: relative;
      height: 15px;
    }

    .current-color span {
      display: none;
    }

    .current-color .active {
      display: block;
    }

    .current-color--square::after {
      content: "";
      display: block;
      background-color: rgba(255, 255 ,255, 0.75);
    }

    .current-color--square,
    .current-color--square::after {
      width: 115px;
      height: 115px;
      margin: 0 auto;
      margin-bottom: 10px;
    }

    .current-color--square {
      border-width: 17px;
      border-style: solid;
      border-color: #444;
      box-shadow: 0px 3px 3px rgba( 0, 0, 0, .05 )
    }

  </style>

</current-color>