<current-color>
  
  <div 
    class="current-color--circle"
    style="border-color: { color.hex }; background-color: { color.hex };"
  ></div>

  <div class="current-color">
    <span class="hex { model == 'hex' ? 'active' : '' }">
      { color.hex }
    </span>
    <span class="rgb { model == 'rgb' ? 'active' : '' }">
      { color.rgb.r }, { color.rgb.g }, { color.rgb.b }
    </span>
    <span class="hsl { model == 'hsl' ? 'active' : '' }">
      { (color.hsl.h).toFixed(2).replace(/\.00$/, '') },
      { (color.hsl.s * 100).toFixed(2).replace(/\.00$/, '') }%, 
      { (color.hsl.l * 100).toFixed(2).replace(/\.00$/, '') }%
    </span>
  </div>

  <script>
    this.on('update', function() {
      this.color = opts.color;
      this.model = opts.model;
    });
  </script>

  <style>
    current-color {
      min-width: 165px;
      width: 33%;
      display: inline-block;
      vertical-align: center;
      padding-top: 20px;
      border-right: 1px solid rgba(0, 0, 0, 0.1);
    }

    .current-color {
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      color: #333;
      padding-top: 10px;
      padding-bottom: 15px;
    }

    .current-color span {
      display: none;
    }

    .current-color .active {
      display: block;
    }

    .current-color--circle::after {
      content: "";
      display: block;
      background-color: rgba(255, 255 ,255, 0.75);
    }

    .current-color--circle,
    .current-color--circle::after {
      width: 105px;
      height: 105px;
      border-radius: 50%;
      margin: 0 auto;
      margin-bottom: 10px;
    }

    .current-color--circle {
      border-width: 17px;
      border-style: solid;
      border-color: #444;
      box-shadow: 0px 3px 3px rgba( 0, 0, 0, .05 )
    }

  </style>

</current-color>